<h1 class="container display-4 text-center">Editing Review</h1><br>

<div class="container text-center">
    <%= render 'form', review: @review %>
</div>
<br>

<div class="container text-center">
    <button type="button" class="btn btn-light btn-lg"><%= link_to 'Show', @review %></button>
    <button type="button" class="btn btn-light btn-lg"><%= link_to 'Back', reviews_path %></button>
</div>
